<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    <%= link_to 'Validation du compte', @link%>
  </p>
  <p>
    Si le lien ne s'affiche pas correctement, allez à l'adresse suivante : <%= @link %>
  </p>
</body>
</html>