<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= link_to 'Cliquez ici pour changer votre mot de passe', @link%>
    </p>
  </body>
</html>